body{
    margin: 0px;
    background-color: #999;
}
.navbar{
    font-family: system-ui;
    box-shadow: 0px 1px 15px;
    position: fixed;
    width: 100%;
    top: 0;
}
.navbar ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    list-style-type: none;
  }
  
.navbar li {
    float: left;
  }
.navbar li a{
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    transition: 0.3s;
  }
.navbar input{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 10px;
    width: 76px;
    transition: 0.5s;
  }
.navbar input:hover{
    width: 25%;
  }
.navbar li a:hover{
    background-color: #111;
}
.bgimage{
    background-image: url("../latihan3/img/bg.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.navigator{
    padding-top: 15px;
    font-size: 20px;
    color: #999;
    font-family: system-ui;
    margin: 20px;
}
.navigator a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.navigator a:hover{
    color: darkviolet;
    font-size: 25px;
    
}
.container{
    width: 850px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
}
.judul{
    margin: 20px;
    font-size: 45px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: system-ui;
    color: #333;
}
.penulis{
    color: black;
    padding-top: 20px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
}
.penulis img{
    border-radius: 50%;
    width: 7%;
    margin-left: 10px;
}
.penulis .text{
    margin-left: 10px;
    font-family: system-ui;
}
.penulis .text-nama{
    color: #999;
}
.penulis .text-nama a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}
.penulis .text-nama a:hover{
    color: darkviolet;
    font-size: 25px;
}

.image1{
    height: 300px;
    background-image: url("../latihan3/img/datas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -0px;
}
.image2{
    height: 350px;
    background-image: url("../latihan3/img/a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -0px;
}
.content{
    padding: 20px;
    font-family: 'Trebuchet MS';
    line-height: 20px;
}
.content p {
    font-size: 14px;
}
.content h2{
    font-size: 28px;
    font-weight: bold;
}
.content h3{
    font-size: 25px;
    font-weight: bold;
}
.content h4{
    font-size: 20px;
    font-weight: bold;
}
.footer{
    background-color: #333333;
    padding: 10px;
}
.footer .copy{
    color: #aeaeae;
    text-align: center;
    font-size: 12px;
}
