*{
    padding: 0;
    margin: 0;
    color: white;  
}
body{
    font-family: sans-serif;
    background-color: salmon;
    overflow-x: hidden ;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    background-color: rgb(83, 83, 255);
}
nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    color: black;
}

.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}
.menu-toggle span{
    display: block;
    background-color: white;
    width: 28px;
    height: 3px;
    transition: all 0.3s;
}
.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -10px;
    top: -3px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: lightblue;
    transform-origin: 0 0;
    transform: rotate(45deg) translate(-1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: lightblue;
    transform-origin: 0 0;
    transform: rotate(-45deg) translate(-3px);
}
.menu-toggle input:checked ~ span:nth-child(3){
    transform: translate(-6px) scale(0);
    opacity: 0;

}
@media screen and (max-width: 768px) {
    nav ul{
        width: 50%;
    }
}
@media screen and (max-width: 576px) {
    .menu-toggle{
        display: flex;
    }
    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: rgb(83, 83, 255);
        height: 70vh;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        transform: translateY(-100%);
        transition: all 0.5s;
        opacity: 0;
    } 
    nav ul.slide{
        transform: translateY(0);
        opacity: 1;
    }
}

.container{
    max-width: 80%;
    margin: auto;
    padding: 20px;
}
.container h3{
    text-align: center;
}
.container p{
    padding: 20px;

}